.form-info{
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    width:200px;

}

.radbut{
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
}

.container{
    display: flex;
    justify-content:center;
}

body {
    margin:40px;
  }
  * {
    box-sizing: border-box;
  }
  input {
    display:block;
    width:100%;
    margin:10px;
    padding:10px;
  }
  .input-info {
    border-radius:10px;
    border: 1px solid #eee;
    transition: .3s border-color;
  }
  .input-info:hover {
    border: 1px solid #aaa;
  }
  
  button {
    /* remove default behavior */
    appearance:none;
    -webkit-appearance:none;
    /* usual styles */
    padding:10px;
    border:none;
    background-color:#3F51B5;
    color:#fff;
    font-weight:600;
    border-radius:5px;
    width:100px;
    margin-bottom: 20px;
    
  }  

  table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

a{
  color:#fff;
  text-decoration: none;
}

